@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    background:white ;
    width: 100%;
    z-index: 2;
    position: relative;
}
.hamburger{
    display: none;
}
.line{
    width: 30px;
    height: 4px;
    background-color:black;
    margin: 5px;
    border-radius: 2px;
    /* z-index: 2; */
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-weight:400;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
}
a:hover{
    opacity: 0.5;
    transition: 0.5s ease-out;
}
button:hover{
    opacity: 0.8;
}
.links{
    display: flex;
}
.nav-links{
    margin-left: 35px;
}
.invite-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:1% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.intro-container{
    display: flex;
    background-image: url('/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position:543px -275px;
    position: relative;
    height: auto;
}
.intro-heading{
    font-size: 42px;
    color:hsl(233, 26%, 24%);
    font-weight: 300;
    font-family: 'Public Sans', sans-serif !important;
}
.intro-sub-heading{
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    font-weight:500;
}
.intro-left{
  margin-left: 9%;
  margin-top: 15%;
  width:100%;
  padding-bottom: 2%;
}
.intro-invite-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:3% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.mockups{
    position: relative;
    margin-left:17%;
    margin-top:-100px;
    z-index: 1;
}

.features-section{
    position:relative;
    z-index:0;
    top: -160px;
    padding-top:10%;
    padding-bottom:10%;  
    padding-left: 9%;
    padding-right:3%;
    background:  hsl(220, 16%, 96%);
    margin-bottom: -10%;
}
.features-sub-heading{
    font-size:15px;
}
.features-container{
    display:flex;
    margin-top:6%;
}
.features{
  margin-right:3.5%;
  font-weight: 400;
  color: hsl(233, 8%, 62%) ;
  font-size: 15px;
}
.features-heading{
    color:hsl(233, 26%, 24%);
    font-size: 20px;
}
.article-section{
    padding-bottom:10%;  
    padding-left: 9%;
    padding-right:9%;
}
.article-section h1{
    font-size: 34px;
}
.article-container{
    display: flex;
    padding-top: 3%;
}
.article{
    background: white;
    width: 30%;
    border-radius: 2;
    margin-left: 2%;
    font-family: 'Public Sans', sans-serif !important;
}
.article-img{
    max-width: 255px;
    border-radius:2%;
}

.article h3{
    font-size: 15px;
    color: hsl(233, 26%, 24%);
    font-weight:550;
    padding: 3% 10%
}
.article p{
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    padding: 5% 10%
}
.article small{
    font-size: 10px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    padding: 3% 10%
}
footer{
    background: hsl(233, 26%, 24%);
    padding: 5% 5%;
    color: #fff ;
}
.footer-container{
    display: flex;
}
.icon-list{
    display: flex;
}
.footer-nav-links{
    margin-top:4%;
}
.footer-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:9% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.trade-mark{
    color: hsl(233, 8%, 62%);
}
.attribution{
    text-align: center;
    background: hsl(233, 26%, 24%);
    padding-bottom:1%;
}
@media screen and (max-width:1024px){
.intro-container{
    background-position:390px -285px; ;
}
.intro-right{
    margin-right:18%;
}
.mockups{
    max-width:170%;
}
.intro-sub-heading{
    font-size:12px;
}
.features-sub-heading{
    font-size:10px;
}
.article-container{
    margin-right:17%;
}
.article-img{
    max-width:200px;
}
}
@media screen and (max-width:768px){
    .intro-container{
        background-position:260px -260px;
    }
    .intro-right{
        margin-right:23%;
    }
    .mockups{
        max-width:200%;
    }
    .intro-heading{
        font-size:30px;
    }
    .intro-left p{
        font-size:11px;
    }
    .features-heading{
        font-size:14px;
    }
    .features-sub-heading{
        font-size:12px;
    }
    .article-container{
        margin-right:17%;
    }
    .article-img{
            max-width:150px;
    }
    .article h3{
        font-size: 12px;
    }
    .article p{
        font-size: 9px;
    }
}
@media screen and (max-width:600px){
    .logo{
        margin-left: 2%;
        width:27%;
    }
    nav{
        height:6vh;
    }
    .hamburger{
        display: block;
        margin-left:35% ;
    }
    .modal-btn{
        background: transparent;
        border-color: transparent;
        cursor:pointer;
    }
    .nav-links{
        display: none;
    }
    .invite-btn{
        display: none;
    }
    .intro-container{
        display: flex;
        flex-direction: column;
        background: url('/images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: 2% -2%;
        padding-bottom:50%;
    }
    .intro-left{
        margin-top:100%;
        margin-left: 0;
        width:100%;
        text-align: center;
    }
    .intro-left h1{
        font-size: 37px;
        width: 100%;
    }
    .intro-left p{
        font-size: 14px;
        width:95%;
    }
    .intro-heading{
        text-align: center;
        font-size:25px;
        width: 50%;
    }
    .intro-sub-heading{
        text-align: center;
        font-size:16px;
        width: 100%;
    }
    .mockups{
        width:95%;
        position: absolute;
        top:-5%;
        right:2%;
    }
    .features-section{
        margin-bottom: -15%;
    }
    .features-container{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }
    .features{
        text-align: center;
        width: 100%;
        margin:2% 0;
    }
    .features-heading{
        font-size: 20px;
    }
    .features-sub-heading{
        text-align: center;
        font-size:16px;
        width: 100%;
    }
    .article-section{
        padding-top:-10%;
    }
    .article-heading{
        width: 100%;
        font-size: 20px;
    }
    .article-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .article{
        width:100%;
        text-align: center;
        margin-bottom:5%;
        margin-top: 3%;
        text-align:left;
        border-radius: 2%;
    }
    .article-content{
        padding-bottom:5%;
        padding-right: 5%;
        padding-left:5%;
        padding-top: 2%;
    }

    .article h3{
        /* width: 100%; */
        font-size:17px;
        padding:0;
        margin-bottom: 2%;
    }
    .article p{
        width: 100%;
        font-size: 13px;
        padding: 0;
    }
    .article small{
        font-size:10px;
        padding: 0;
        margin-bottom: 5%;
    }
    .article-img{
        max-width:100%;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        margin: auto 0;
        text-align: center;
    }
    .footer-logo{
        align-items: center;
         margin-bottom: 3%;
    }
    .logo-img{
        width:85%;
    }
    .icon{
        width:80%;
    }
    .footer-nav-links{
        font-size:9px;
        margin-bottom: 10%;
        margin-top:2%;
    }
    .footer-nav-two{
        margin-bottom: 5px;
    }
}