@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
    background:white ;
    width: 100%;
    z-index: 2;
    position: relative;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-weight:400;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
}
a:hover{
    opacity: 0.5;
    transition: 0.5s ease-out;
}
button:hover{
    opacity: 0.8;
}
.links{
    display: flex;
}
.nav-links{
    margin-left: 25px;
}
.invite-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:1% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.intro-container{
    display: flex;
    background-image: url('/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position:543px -275px;
    position: relative;
    height: auto;
}
.intro-heading{
    font-size: 42px;
    color:hsl(233, 26%, 24%);
    font-weight: 300;
    font-family: 'Public Sans', sans-serif !important;
}
.intro-sub-heading{
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    font-weight:500;
}
.intro-left{
  margin-left: 9%;
  margin-top: 15%;
  width:100%;
  padding-bottom: 2%;
}
.intro-invite-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:3% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.mockups{
    position: relative;
    margin-left:17%;
    margin-top:-100px;
    z-index: 1;
}

.features-section{
    position:relative;
    z-index:0;
    top: -160px;
    padding-top:10%;
    padding-bottom:10%;  
    padding-left: 9%;
    padding-right:3%;
    background:  hsl(220, 16%, 96%);
}
.features-sub-heading{
    font-size:15px;
}
.features-container{
    display:flex;
    margin-top:6%;
}
.features{
  margin-right:3.5%;
  font-weight: 400;
  color: hsl(233, 8%, 62%) ;
  font-size: 15px;
}
.features-heading{
    color:hsl(233, 26%, 24%);
    font-size: 20px;
}
.article-section{
    padding-bottom:10%;  
    padding-left: 9%;
    padding-right:9%;
}
.article-section h1{
    font-size: 34px;
}
.article-container{
    display: flex;
    padding-top: 3%;
}
.article{
    background: white;
    width: 30%;
    border-radius: 2;
    margin-left: 2%;
    font-family: 'Public Sans', sans-serif !important;
}
.article-img{
    max-width: 255px;
    border-radius:2%;
}

.article h3{
    font-size: 15px;
    color: hsl(233, 26%, 24%);
    font-weight:550;
    padding: 3% 10%
}
.article p{
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    padding: 5% 10%
}
.article small{
    font-size: 10px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    padding: 3% 10%
}
footer{
    background: hsl(233, 26%, 24%);
    padding: 5% 5%;
    color: #fff ;
}
.footer-container{
    display: flex;
}
.icon-list{
    display: flex;
}
.footer-nav-links li{
    margin-top:4%;
}
.footer-btn{
    background: linear-gradient(90deg, #31d35c, #2bb7da);
    outline: none;
    border: none;
    width: 150px;
    padding:9% 2%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.attribution{
    text-align: center;
    background: hsl(233, 26%, 24%);
    padding-bottom:1%;
}
@media screen and (max-width:1024px){
.intro-container{
    background-position:390px -285px; ;
}
.intro-right{
    margin-right:18%;
}
.mockups{
    max-width:170%;
}
.intro-sub-heading{
    font-size:12px;
}
.features-sub-heading{
    font-size:10px;
}
.article-container{
    margin-right:17%;
}
.article-img{
    max-width:200px;
}
}
@media screen and (max-width:768px){
    .intro-container{
        background-position:260px -260px; ;
    }
    .intro-right{
        margin-right:23%;
    }
    .mockups{
        max-width:200%;
    }
    .intro-heading{
        font-size:30px;
    }
    .intro-left p{
        font-size:11px;
    }
    .features-heading{
        font-size:14px;
    }
    .features-sub-heading{
        font-size:12px;
    }
    .article-container{
        margin-right:17%;
    }
    .article-img{
            max-width:150px;
    }
    .article h3{
        font-size: 12px;
    }
    .article p{
        font-size: 9px;
    }
}
@media screen and (max-width:600px){
    .intro-container{
        display: flex;
        flex-direction: column;
    }

}